body {
  font-family: "Roboto", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  height: 100vh;
}
.card {
  padding: 1rem;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  border-color: #e7e5e4;
  border-radius: 12px;
  background-color: #f5f5f4;
}
.Image img {
  width: 300px;
  height: auto;
  border-radius: 6px;
}
.infos h2 {
  font-size: 20px;
}
.infos span {
  background-color: #a7f3d0;
  border-radius: 3px;
  border: 1px solid;
  border-color: #4ade80;
  padding: 0 10px;
  color: #10b981;
  font-size: 12px;
}
.infos p {
  font-size: 12px;
  font-weight: 400;
  color: #71717a;
}

.learnBtn {
  width: 100%;
  padding: 5px 0px;
  border-radius: 4px;
  border: 1px transparent;
  background-color: #0ea5e9;
  color: aliceblue;
  cursor: pointer;
}
